<div class="auth-area">

  <div *ngIf="authType === undefined">
    <h2>undefined</h2>
  </div>

  <mat-card class="auth-card" *ngIf="authType !== undefined">

    <mat-card-title class="auth-title">
      {{ title | uppercase }}
    </mat-card-title>

    <mat-card-content class="auth-form">

      <form [formGroup]="authForm" (ngSubmit)="submitForm()">

        <mat-form-field class="example-full-width" *ngIf="authType == 'register'">
          <input matInput type="text" 
            formControlName="username" placeholder="Username"/>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="text" value="admin@gmail.com"
            formControlName="email" placeholder="Email"/>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="password"  value="qwerty123"
            formControlName="password" placeholder="Password"/>
        </mat-form-field>

        <button mat-button class="button-submit"
          [disabled]="false" type="submit">
            {{ title }}
        </button>

        <!-- !authForm.valid -->

      </form>


    </mat-card-content>
    <mat-card-footer>
      <a [routerLink]="['/auth/login']" *ngIf="authType == 'register'">
        Have an account?
      </a>
      
      <a [routerLink]="['/auth/register']" *ngIf="authType == 'login'">
        Need an account?
      </a>
    </mat-card-footer>

  </mat-card>

</div>


<!-- <div class="auth-area">
  <router-outlet></router-outlet>
</div> -->
