.todo-card {
  vertical-align: top;
  width: 290px;
  margin: 5px;
  padding-bottom: 0;

  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo-title {
  width: 80%;
  margin: 0;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
}

.todo-actions {
  margin-top: -20px;
}

/* ###################################### */

.completed {
  color: grey;
  text-decoration: line-through;
}

.hovered {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  transition: .5s all;
  z-index: 10;
}

.todo-actions {
  opacity: 0;
}

.todo-card:hover .todo-actions {
  opacity: 1;
}

