.todo-card {
  margin: 10px;
  width: 250px;
}

.todo-card__title {
  width: 80%;
  margin: 0 auto;
}

.todo-card__content {
  /* ... */
}

.todo-card__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__card-subtitle {
  margin: 0 0 0 15px;
}

.footer__card-actions {
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

/* ###################################### */

.completed {
  color: grey;
  text-decoration: line-through;
}

.hovered {
  transform: scale(1.05);
  transition: .5s all;
  z-index: 10;
}

.footer__card-actions {
  opacity: 0;
}

.todo-card:hover .footer__card-actions {
  opacity: 1;
}

/* ###################################### */

.todo-card__edit-form {
  /* ... */
}

.edit-form__input {
  margin: 0 auto;
  width: 250px;
}

.edit-form__actions {
  display: flex;
  justify-content: space-around;
}

.actions__button_save {
  background-color: white;
  color: green;
}

.actions__button_cancel {
  background-color: white;
  color: red;
}
