@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
  transform: translate(-50%, -50%);
}
