<div class="home-content">

  <div class="home-image">
    <img src="../../assets/images/justDoIt.jpg"
      alt="Shia LaBeouf => Motivational Speech">
  </div>

  <div class="home-text">
    <p>
      Do it ! Just do it !
    </p>
    <p>
      Don't let your dreams be dreams. Yesterday you said tomorrow.<br>
      So just do it ! Make your dreams come true. Just do it !
    </p>
    <p>
      Some people dream of success. While you're gonna<br>
      wake up and work hard at it. Nothing is impossible !
    </p>
    <p>
      You should get to the point. Where anyone else would quit.<br>
      And you're not going to stop there. No, what are you waiting for ?
    </p>
    <p>
      Do it ! Just do it ! Yes you can. Just do it !<br>
      If you're tired of starting over. Stop giving up !
    </p>
  </div>

<!-- 
  <button style="background-color: lightgreen"
    mat-button (click)="openNewPage('/auth/login')">
    Go to 'login'
  </button>

  <button style="background-color: lightcoral"
    mat-button (click)="openNewPage('/todos')">
    Go to 'todos'
  </button>
-->

</div>
