<div class="home-content">

  <div class="home-image">
    <img src="../../assets/images/justDoIt.jpg"
      alt="Shia LaBeouf => Мотивация">
  </div>

  <div class="home-text">
    <p>
      Сделай это ! Просто сделай это !
    </p>
    <p>
      Не позвольяй твоим мечтам оставаться мечтами! Вчера ты говорил завтра.<br>
      Так что сделай это! Воплоти свои мечты в реальность! Просто сделай это!
    </p>
    <p>
      Некоторые люди мечтают об успехе. Пока ты<br>
      wпросыпаешься и вкалываешь. Нет ничего невозможного!
    </p>
    <p>
      Ты должен дойти до точки, когда все остальные сдадуться.<br>
      Но это тебя не остановит. Нет! Чего ты ждешь?
    </p>
    <p>
      Сделай это ! Просто сделай это ! Да, ты можешь. Просто сделай это!<br>
      Если ты устал начинать сначала, не сдавайся!
    </p>
  </div>

<!--
  <button style="background-color: lightgreen"
    mat-button (click)="openNewPage('/auth/login')">
    Go to 'login'
  </button>

  <button style="background-color: lightcoral"
    mat-button (click)="openNewPage('/todos')">
    Go to 'todos'
  </button>
-->

</div>
