<mat-toolbar color="primary" class="toolbar-area">

  <div class="project-name">
    Welcome in Todo App !!!
  </div>

  <div class="toolbar-buttons">

    <div *ngIf="!authorized">

      <ul>

        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/">
            <button mat-button (click)="openHomePage()">
              Home
            </button>
          </a>
        </li>

        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/auth/login">
            <button mat-button (click)="signIn()">
              Sign In
            </button>
          </a>
        </li>

        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/auth/register">
            <button mat-button (click)="signUp()">
              Sign Up
            </button>
          </a>
        </li>

      </ul>
  


      <!-- <button mat-button (click)="openHomePage()"
        [ngClass]="{'active': pressed === 'Home'}">
          Home
      </button> -->

      <!-- <button mat-button (click)="signIn()"
        [ngClass]="{'active': pressed === 'Sign In'}">
          Sign In
      </button> -->

      <!-- <button mat-button (click)="signUp()"
        [ngClass]="{'active': pressed === 'Sign Up'}">
          Sign Up
      </button> -->
      
    </div>

    <div *ngIf="authorized">

      <button mat-button (click)="openHomePage()"
        [ngClass]="{'active': pressed === 'Home'}">
          Home
      </button>

      <button mat-button (click)="openTodosPage()"
        [ngClass]="{'active': pressed === 'Todos'}">
          Todos
      </button>

      <button mat-icon-button [matMenuTriggerFor]="menu"
        (click)="userActions()">
          <mat-icon>account_circle</mat-icon>
      </button>
      
      <mat-menu #menu="matMenu">
        
        <button mat-menu-item class="extra" (click)="openProfilePage()">
          Profile
        </button>
        
        <button mat-menu-item class="extra" (click)="signOut()">
          Sign Out
        </button>
      
      </mat-menu>

    </div>

  </div>

</mat-toolbar>

