.toolbar-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-name {
  font-weight: bold;
  font-style: italic;
}

button {
  font-size: 20px;
  color: #FFED70;
}

.active {
  background-color: #8C98DA;
  height: 70px;
  color: #FFB570;
}
