.toolbar-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
}

button {
  font-size: 25px;
}


.extra {
  color: black;
  font-size: 20px;
}

a.extra :hover {
  background-color: #bebbeb;
  font-weight: bold;
}

ul li {
  display: inline;
}

.button-label {
  font-size: 25px;
}

.extraMenu {
  margin-left: 40px;
}

.icon-size {
  font-size: 33px!important;
}


/* ################################################## */

a {
  color: white;
  font-weight: bold;

}


a:active {
  font-size: 15px;
}
