<mat-toolbar color="primary" class="toolbar-area">

  <div class="project-name">
    Welcome in Todo App !!!
  </div>

  <div class="toolbar-buttons">

    <div *ngIf="!authorized">

      <nav mat-tab-nav-bar>
        <a mat-tab-link class="button-label"
        *ngFor="let link of notAuthLinks"
          [routerLink]="link.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          #rla="routerLinkActive"
          [active]="rla.isActive">
        {{link.label}}
        </a>
      </nav>

    </div>

    <div *ngIf="authorized">

      <nav mat-tab-nav-bar>
        <a mat-tab-link class="button-label"
        *ngFor="let link of authLinks"
          [routerLink]="link.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          #rla="routerLinkActive"
          [active]="rla.isActive">
        {{link.label}}
        </a>

        <button mat-icon-button class="extraMenu"
          [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
      </nav>

      <mat-menu #menu="matMenu">
        <button mat-menu-item class="extra" (click)="openProfilePage()">
          Profile
        </button>
        <button mat-menu-item class="extra" (click)="signOut()">
          Sign Out
        </button>
      </mat-menu>

    </div>

  </div>

</mat-toolbar>
