.toolbar-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
}

.project-name {
  font-weight: bold;
  font-style: italic;
}

button {
  font-size: 20px;
  color: #FFED70;
}

.active {
  /* background-color: #8C98DA; */
  color: yellow;
}

.extra {
  color: black;
}

ul li {
  display: inline;
}

.button-label {
  font-size: 25px;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #ffffff!important;
}

.extraMenu {
  margin-left: 40px;
}
